.git
.github
.venv
**/__pycache__
**/*.py[cod]
*.egg-info
build
dist

.DS_Store
.idea
.vscode
*.swp

.env
.env.*
*.key
*.pem

/projects
/artifacts
/runs
/logs
*.log

src/envs/*/profile/data
src/envs/*/relationship/data
src/envs/*/events
src/envs/*/runs
src/envs/*/logs
src/envs/*/log
src/envs/*/metrics_plots*

datasets
models
saves
wandb
mlruns
node_modules

.coverage
.pytest_cache
.mypy_cache
.ruff_cache
